.detailed-post {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: 50%;
    height: 50%;
    border-radius: 10px;
    border: 1px solid black;
}