<div class="post" (click)="onClick(post)">
     <div class="post__image-wrapper">
          <img class="post__image" src="{{'data:image/jpg;base64,' + post.photo}}" alt="photo" />
     </div>
     <div class="post__content">
          <div class="post__tags" >
               <p class="post__tag" *ngFor="let tag of tags">{{tag}}</p>
          </div>
          <p class="post__title">{{post.cityName}}</p>
          <span class="post__description">{{post.description}}...
          </span>
          <p class="post__read-more" *ngIf="post.description.length > 224; else noReadMore" (click)="onClick(post)">Read more</p>
          <div class="post__icons" >
               <span (click)="onCommentIconClick($event)"><img class="post__icon" src="../../../assets/icons/comments.png" alt="comments" />{{this.comments.length-1}}</span>
               <div class="container">
                    <div class="label">
                         <span (click)="onStopPropogation($event)" class="tooltip-toggle popup" (click)="onLikesClick($event, post)" aria-label="Sample text for your tooltip!" tabindex="0">
                              <span class="popuptext" id="myPopup">Please register or login</span>
                              <img class="post__icon" [attr.src]= "[isLiked === true ? '../../../assets/liked.png' : '../../../assets/unliked.png']"  alt="likes" />{{this.likes.length - 1}}                          
                         </span>
                    </div>
               </div>
               <span *ngIf="user.id" (click)="onEdit($event, post)"><img class="post__icon"   src="../../../assets/icons/edit.png" alt="edit" /></span>  


               <div class="post__add-comment comment"  [style.visibility]="!isHidden ? 'visible' : 'hidden'">
                     <textarea placeholder="Add comment" class="comment__input" [(ngModel)]="newComment" style="color:rgba(106, 104, 104, 0.8); font-size: 14px" (click)="$event.stopPropagation()"></textarea>
                    <div class="comment__buttons">
                         <button type="button" class="comment__button" (click)="onCancelClick($event)">Cancel</button>
                         <button type="button" class="comment__button" (click)="onCommentClick($event)">Comment</button>
                    </div>
               </div>  
               
               


               <span *ngIf="user.id" (click)="onDelete($event,post)"><img class="post__icon" src="../../../assets/icons/delete.png" alt="delete" /></span> 
          </div>
     </div>
        <!-- <span class="tooltip-toggle" aria-label="Sample text for your tooltip!" tabindex="0"></span> -->
</div>

<ng-template #noReadMore>
     <p class="post__read-more"></p>
</ng-template>

<!-- <div class="services-items" (click)="onClick(post)">
     <div class="services-item"> HEYYYYYY
          <div class="image-wrapper">
               <img class="services-item__img" src="{{'data:image/jpg;base64,' + post.photo}}" alt="photo">
          </div>
          <img class="services-item__img" src="https://picsum.photos/id/1000/400/200">
          <div class="services-item__content">
               <div class="services-item__title"> <a href=""> One card </a></div>
              <div class="services-item__subtitle"> Desc one</div>
               <p class="services-item__title"><a href=""> CityName: {{post.cityName}}</a></p>
               <div class="services-item__title">Description:{{post.description}}</div>
               <div class="services-item__subtitle">Tags: {{post.tags}}</div>
          </div>
     </div>
</div> -->